body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 40px;
}

.game {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.light {
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

// changes colors
.light.on {
  background-color: white;
  box-shadow: 0 0 10px white;
}

.light.off {
  background-color: #333;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 8px 14px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.win {
  font-size: 1.3em;
  color: limegreen;
}
